doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        // foreach invoice in invoices create a table row with the invoice data
        table.table
            thead
                tr
                    th Invoice Number
                    th Invoice Date
                    th Invoice Total
                    th Invoice Status
            tbody
                each invoice in invoices
                    tr
                        td= invoice._id
                        td= invoice.date
                        td= invoice.total
                        td= invoice.status